<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Design Portfolio</title>

</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Mochiy+Pop+One&family=Sacramento&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/styles.css">
<link rel="shortcut icon" href="static/man.png">
<div class="topcontainer">
  <img src="static/cloud.png" alt="cloud-img" class="cloud1">
  <h1 class="introh1">I'm Chirag</h1>
  <p class="introp">a programmer</p>
  <img src="static/cloud.png" alt="cloud-img" class="cloud2">
  <img src="static/mountain.png" alt="mountain-img" class="mountain">
</div>
<div class="middle-container">
  <div class="profile">

    <img src="static/IMG_20220414_115233500-modified.png" alt="profile image" class="profileimg">
    <h2>Hello.</h2>
    <p>I am a Second year student at thapar university currently pursuing Bachelor of Engineering in <strong>Electronics and Computer science</strong>.</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills</h2>
    <div class="skill-row">

      <img src="static/giphy.gif" alt="skills_image" class="skillimg">
      <h3>Design & Development</h3>
      <p>I am Intermediate+ in python and a <b>two star</b> coder at <a href="https://www.codechef.com/users/chirag_punia01">codechef</a></p>
    </div>
    <div class="skill-row">
      <img class="skillimg2" src="static/image.png">
      <h3>Red Elixir</h3>
      <p>But my best skill is actually drinking <strong>Red Elixir</strong>. I am the undisputed king of STING drink Challenges. Sting and Red bull are my favorite.</p>
    </div>
  </div>
  <hr>
  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you love dark red elixir as I do</h3>
    <p class="q">Let's talk about how awesome elixir is!<br>We can code while we drink some awesome stuff!</p>
    <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
  </div>
</div>


<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/chirag-punia-93a6aa220/">LinkedIn</a>
  <a class="footer-link" href="https://twitter.com/_ChiragPunia_">Twitter</a>
  <a class="footer-link" href="https://chirag-punia.github.io/cv/">Website</a>
  <p class="cc">© 2022 Chirag Punia.</p>
</div>

<body>

</body>

</html>
